<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tests for QTrip Regression">
	<groups>
		<run>
			<include name="Login Flow" />
			<include name="Search and Filter flow" />
			<include name="Booking and Cancellation Flow" />
			<include name="Reliability Flow" />
		</run>
	</groups>
	<listeners>
		<listener class-name="qtriptest.Listeners" />
	</listeners>
	<test name="Qtrip Test">
		<packages>
			<package name="qtriptest.tests" />
		</packages>
	</test>
</suite>